:root {
    --left-offset-percentage: 1%;
}

html * {
    font-family: 'Gill Sans' !important;
    color: black !important;
}

body {
    background-color: gainsboro !important;
}

#logo {
    width: 5%;
    height: 5%;
    padding-right: 1%;
}

#topbar h1 {
    font-size: 400%;
    font-weight: 600;
    margin: 0%;
}

#topbar {
    display: flex;
    flex-direction: row;
    margin-left: var(--left-offset-percentage);
}

#navbar {
    display: flex;
    flex-direction: row;
}

#navbar a {
    padding: var(--left-offset-percentage);
    font-size: 150%;
    display: block;
}

#navbar a:hover {
    background-color: lightgray;
}

#navbar a:link, #navbar a:visited {
    text-decoration: none;
}

.content {
    padding-left: var(--left-offset-percentage);
}

.content h2 {
    font-weight: 600;
    font-size: 150%;
    margin-bottom: 0%;
}