#socials {
    display: flex;
    flex-direction: column;
}

#socials span {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#socials span a {
    font-size: 120%;
}

#socials span img {
    width: 2%;
    height: 2%;
}