#navbar {
    overflow: hidden;
    background-color: rgb(72, 77, 109);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar a {
    float: left;
    display: block;
    color: rgb(239, 233, 244);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar a:hover {
    background: rgb(8, 178, 227);
}