body {
    background-color: rgb(238, 99, 82);
}

.content {
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 5vh;
    height: 90vh;

    padding: 20px;
    background-color: rgb(239, 233, 244);
    color: black;
}